#signup-form-container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signup-form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 1.8rem;
    padding: 0 1rem;
    position: relative;
}

#signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: none;
    outline: none;
    padding: 0 2rem;

    /* min-height: 10vh; */
    /* box-shadow: 3px 5px 3px 3px rgb(51 51 51 /
    35%); */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 18rem; */
}


/* .signup-form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0 1rem;
} */

.signup-form-div {
    padding: .6rem 2rem;
}

.signup-form-input {
    outline: none;
    padding: .5rem .2rem;
    width: 20rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(51 51 51 / 35%);
}

#sf-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 196, 255);
    border-radius: 5px;
    border: none;
    color: rgb(229, 229, 229);
    margin: 1rem;
    padding: 1.03rem 2.5rem;
    position: relative;
    box-shadow:inset 0px 1px 6px 0px #91b8b3;
	background:linear-gradient(to bottom, rgb(129, 196, 255) 5%, rgb(21, 120, 201) 100%);
}

#sf-buttons:hover {
    background-color: rgb(58, 160, 250);
    color: white;
}

#demo-user-button-signup-form {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
