#answers-number-text {
    border-bottom: 2px solid black;
}

#answer-details {
    border: 2px solid red;
    padding: 0 .8rem;
    margin: .8rem .8rem;
}

#answers-component-user-profileImage {
    max-height: 2rem;
    max-width: 2rem;
}
