#answer-page-component {
  margin: 1.2rem 5rem;
}

#answer-number-text {
  border-bottom: 2px solid black;
}

#answer-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 6px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-bottom: 0.2px solid #e3e3e3;
  margin: 1rem;
}

#answer-card-container {
  width: 100%;
  min-width: 20rem;
}

#answer-user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 7.5rem;
  margin-bottom: .5rem;
}

#answer-body {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

#answer-component-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.4rem;
}

#answer-component-user-profileImage {
  max-height: 2rem;
  max-width: 2rem;
  margin-right: .5rem;
}

#answer-page-creation-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: rgb(181, 181, 181);
  font-size: .8rem;
  margin-bottom: .6rem;
}
