#user-component-info {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#user-component-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user-component-image {
    object-fit: cover;
    max-height: 12rem;
    max-width: 12rem;
    border-radius: 50%;
}

#user-component-navlinks > a {
    border: 2px solid lightgray;
    padding: 1rem;
}

#user-component-navlinks > a:hover {
    background-color: lightgray;
}
