#user-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 20rem;
  /* background-color: rgb(140, 246, 249, 0.2); */
  border-radius: 6px;
}

#user-component-info {
  display: flex;
  justify-content: center;
  margin: 0 8rem;
}

#user-component-image {
  object-fit: cover;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(97, 97, 97, 0.2);
}

#user-component-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  line-height: 5px;
}

#user-component-details-name {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

#user-component-navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-component-navLinks > a {
  border: 2px solid lightgray;
  padding: 1rem;
}

#user-component-questions:hover,
#user-component-answers:hover {
  cursor: pointer;
}
