#edit-question-votes {
    display: flexbox;
    flex-direction: column;

}


#edit-question-vote-up.active {
    background-color: red;
}

#edit-question-vote-down.active {
    background-color: red;
}
