#footer-container {
   background-color: #232629;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
}

#footer-info-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo-home {
    height: 3rem;
    display: flex;
    justify-content: center;
}

#footer-logo-left-navLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer-info-left a {
    color: white;
    text-decoration: none;
}

#footer-logo-image {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
}

#footer-logo-text {
    color: white;
}
