#edit-answer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#edit-answer-buttons {
  display: flex;
}

#edit-answer-delete {
  background-color: red;
}
