#question-page-component {
    margin: 1.2rem 15rem;
}

#question-card {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

#question-card-container {
    width: 100%;
}

#question-card-text-top {
    display: inline-flex;
    align-items: center;
}

#question-user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
}

#question-body {
    font-size: 1.2rem;
}

#question-component-user-link {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 .4rem;
}

#question-component-user-profileImage {
    max-height: 2rem;
    max-width: 2rem;
    margin-right: .5rem;
}
