#question-page-component {
    /* outline: 2px solid red; */
    margin: 0 5rem;
}

#question-card {
    /* background-color: rgb(236, 151, 151); */
    /* border: 2px solid black; */
    display: flex;
    justify-content: start;
    flex-direction: row;
    /* width: 100%; */
}

#question-card-container {
    width: 100%;
}

#question-card-text-top {
    display: inline-flex;
    align-items: center;
}

#question-user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    /* background-color: rgb(226, 21, 226); */
    /* line-height: 10rem; */
}

#question-component-user-link {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 .4rem;
}

#question-component-user-profileImage {
    max-height: 2rem;
    max-width: 2rem;
}
