#user-questions {
  margin: 0 5rem;
  min-width: 20rem;
}

#user-questions-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

#user-questions-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.025% 10%;
}

#user-questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user-questions-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.507);
  padding: 1.5rem;
  margin: 0.6rem 0;
  width: 65%;
  gap: 10px;
}

#user-questions-card:hover {
  background-color: aliceblue;
}

#user-questions-title {
  color: rgb(62, 134, 159);
  margin: 0;
}
