#user-answers-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.507);
  padding: 1.5rem;
  margin: 0.6rem 5rem;
}

#user-answers-card:hover {
    background-color: aliceblue;
}

#user-answers-title {
    color: blue
}
