#create-question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 196, 255);
  border-radius: 5px;
  border: none;
  color: rgb(229, 229, 229);
  margin: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  box-shadow: inset 0px 1px 6px 0px #91b8b3;
  background: linear-gradient(
    to bottom,
    rgb(129, 196, 255) 5%,
    rgb(21, 120, 201) 100%
  );
}

#create-question-button:hover {
  color: white;
}
