#create-question-form-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 10px ridge #d3d3d3;
    box-shadow: 1px 1px 1px 1px rgb(51 51 51 / 50%);
}

#create-question-form-text p {
    margin: .6rem;
}

.cqft-header {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cqft-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#create-question-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    box-shadow: 1px 1px 1px 1px rgb(51 51 51 / 50%);
    border: 2px solid white;
    border-radius: 6px;
}

.create-question-form-label {
    gap: 2rem;
    padding: 1rem 4rem;
}

.create-question-form-input {
    outline: none;
    width: 50rem;
}

.cqfi-title {
    height: 2rem;
}

.cqfi-body {
    height: 15rem;
}
