#navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px; */
  /* height: 3rem; */
  background-image: var(--nav-gradient);
  background-size: 500%;
  animation: navigation-bar-color 30s infinite alternate;
  --nav-gradient: linear-gradient(45deg, #c99999, #7ba1b5, #504e6d, #7e376a);
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
  /* position: fixed; */
  width: 100%;
}

@keyframes navigation-bar-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#navigation-navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 10rem;
}

#navigation-navLinks-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation-navLinks-left > a {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

#navigation-home.active,
#navigation-about.active {
  background-color: aliceblue;
  color: black;
}

#navigation-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 8rem;
  border: none;
  color: white;
  margin: 0;
  padding: 0 1rem;
}

#navigation-about {
  border: none;
  color: white;
  height: 1.2rem;
  margin: 0;
  padding: 1.4rem 3rem;
}

#navigation-navLink-image {
  height: 3rem;
}

#navigation-footer {
  position: relative;
  position: absolute;
  width: 100%;
  bottom: 1;
  z-index: 1;
  margin-top: 100%
}

@media screen and (max-width: 768px) {
  #navigation-bar {
    width: 100%;
  }
}
