#navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    /* background-color: aliceblue; */
    padding: 8px;
    height: 3rem;
}

#navigation-navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0 10rem;
}

#navigation-navLinks > div > a:hover {
    background-color: lightgray;
}

#navigation-navLinks-left {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: 0 10%; */
    /* width: 75%; */
}


#navigation-home.active, #navigation-about.active {
    background-color: aliceblue;
}

@media screen and (max-width: 768px) {
  #navigation-bar {
    width: 100%;
  }
}
